body {
  background-color: #555b66;
}


.App {
 color: white;
 height: 100vh;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.navbar {
  display: flex;
  background-color: #282c34;
  align-items: center;
  padding: 30px 25px;
  height: 90px;
  color: #60bcf1;
}

.navbar h3 {
  margin-right: auto;
  color: white;
  float: right;
}

.main-content {
  display: block;
  font-family:cursive;
  padding: 57px 37px;
  background-image: url(./react.svg);
  background-size: 30%;
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: 50%;
}

.main-content h1 {
  color: #60bcf1;
}

.main-content li {
  font-weight: bold;
  line-height: 21px;
}

.main-content li::marker {
  font-size: 1rem;
  color: #60bcf1;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #282c34;
  margin-top: 100px;
  padding: 20px 15px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
